.idea
*.iml
/nbproject/ant-deploy.xml
/nbproject/build-impl.xml
/nbproject/genfiles.properties
/nbproject/private/private.properties
/nbproject/private/private.xml
/nbproject/project.properties
/nbproject/project.xml
/conf
/lib
/web-inf
/web-pages
/build/web/META-INF/context.xml
/build/web/WEB-INF/classes/SSSConns2.js
/nbbuild.xml
/dist/SocialSemanticServerClientSide.war
