.idea
*.iml
/nbproject/ant-deploy.xml
/nbproject/build-impl.xml
/nbproject/genfiles.properties
/nbproject/private/private.properties
/nbproject/private/private.xml
/nbproject/project.properties
/nbproject/project.xml
/conf
/lib
/web-inf
/web-pages
